.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.menu-text {
  color: $nav-text-color;
}

.top-bar > .top-bar-right > .menu > .menu-text > a {
  display: inline;
  padding: 0;
}

.top-bar {
  .active-link {
    font-weight: bold;
  }
}
